<div class="bg-slate-800">
  <mat-dialog-content>
    <span
      class="text-center text-lg font-serif font-bold text-slate-100 p-2 justify-center"
    >
      EXCLUIR
    </span>
    <span class="font-serif text-lg">Deseja confirmar exclusão?</span>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      class="bg-green-600 rounded-lg p-2 w-32 font-serif hover:bg-green-700 text-slate-100"
      (click)="onSimClick()"
    >
      Sim
    </button>
    <button
      class="bg-rose-700 rounded-lg p-2 w-32 font-serif hover:bg-rose-800 text-slate-100"
      (click)="onCancelarClick()"
    >
      Cancelar
    </button>
  </mat-dialog-actions>
</div>
