<span class="text-center text-lg font-serif font-bold text-slate-100 pt-4"
  >EDITAR ITEM</span
>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput type="text" [(ngModel)]="data.nome" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Raça</mat-label>
    <select matNativeControl [(ngModel)]="data.raca">
      <option [value]="r" *ngFor="let r of racas">{{ r }}</option>
    </select>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Nível</mat-label>
    <input matInput type="number" [(ngModel)]="data.nivel" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label class="font-serif">Cor Card </mat-label>
    <input matInput type="color" [(ngModel)]="data.corFundo" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Imagem URL</mat-label>
    <input matInput type="text" [(ngModel)]="data.imagemUrl" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    class="bg-cyan-600 rounded-lg p-2 w-32 font-serif hover:bg-cyan-700 text-slate-100"
    (click)="onConfirmarClick()"
  >
    Confirmar
  </button>
  <button
    class="bg-rose-700 rounded-lg p-2 w-32 font-serif hover:bg-rose-800 text-slate-100"
    (click)="onCancelarClick()"
  >
    Cancelar
  </button>
</mat-dialog-actions>
