html,
body {
    height: 100%;
}

html {
    color-scheme: light dark;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    cursor: pointer;
    border: none;
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0097a7;
}